modules = ["kotlin", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android_emulator"

[[workflows.workflow]]
name = "Android App"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gradle build --info"

[[workflows.workflow]]
name = "android_emulator"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gradle installDebug"

[deployment]
run = ["sh", "-c", "gradle build --info"]
